<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="myConnStr" connectionString="Data Source=LAPTOP-61PA8EGF;Initial Catalog=MovieMania;Integrated Security=True"/>
	</connectionStrings>
</configuration>